<div data-role="content">
  <h2 id="logo_tag">
  </h2>

  <div data-role="content">
    <div class="content-primary main-content">
      <ul data-role="listview" id="item_list">
      </ul>
      <div id="loading"></div>
    </div>
  </div>

</div>

